apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: paperless-ngx
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/gaahrdner/homelab.git
    targetRevision: HEAD
    path: src/apps/services/paperless-ngx/manifests

  destination:
    server: https://kubernetes.default.svc
    namespace: paperless-ngx

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
